<h1>Recipes</h1>
<ul>
<% @recipes.each do |recipe| %>
    <li>
        <a href="/recipes/<%= recipe.id %>">Name: <%= recipe.name %></a>
        <ul>
            <li>Ingredients: <%= recipe.ingredients %></li>
            <li>Cook Time: <%= recipe.cook_time %></li>
        </ul>
    </li>
<% end %>
</ul